
.pt-290{
	padding-top: 290px;
}

@for $i from 1 through 300{
	.pt-#{1 *$i}{padding-top: 1px *$i;}
}

@for $i from 1 through 300{
	.pr-#{1 *$i}{padding-right: 1px *$i;}
}
@for $i from 1 through 200{
	.pb-#{1 *$i}{padding-bottom: 1px *$i;}
}
@for $i from 1 through 300{
	.pl-#{1 *$i}{padding-left: 1px *$i;}
}
@for $i from 1 through 200{
	.mb-#{1 *$i}{margin-bottom: 1px *$i;}
}
@for $i from 1 through 200{
	.mr-#{1 *$i}{margin-right: 1px *$i;}
}
@for $i from 1 through 200{
	.mt-#{1 *$i}{margin-top: 1px *$i;}
}
@for $i from 1 through 200{
	.ml-#{1 *$i}{margin-left: 1px *$i;}
}

.tp-newsletter-m-100{
	margin: 0 100px;
}
.ml-0{
	margin-left: 0 !important;
}