:root {
    --tp-grey-color: #F6F7F9;
    --tp-grey-color-2: #687387;
    --tp-heading-color: #17181D;
    --tp-white-color: #fff;
    --tp-black-color: #000;
    --tp-primary-color: #153D65;
    --tp-primary-color-2: #1469B5;
    --tp-navy-blue-color: #0E2743;
    --tp-gren-color: #4BB543;
}